<a href="https://colab.research.google.com/github/Hjhirp/Product-Review-Feature-and-Opinion-Extraction/blob/main/Notebook/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Extract feature and opinion from product review and apply recall and precision

In [ ]:
txt = '''
This product so far has not disappointed.
great for beginner or experienced person. Bought as a gift and she loves it
Inexpensive tablet for him to use and learn on, step up from the NABI.
I've had my Fire HD 8 two weeks now and I love it. This tablet is a great value.
I bought this for my grand daughter when she comes over to visit.
This amazon fire 8 inch tablet is the perfect size.
'''

In [ ]:
import pandas as pd
import numpy as np
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk import pos_tag

## DATASET GENERATION

In [ ]:
dataset = ['This product product product so far has not disappointed.','ambience ambience ambience is excellent','great for beginner or experienced person. Bought Bought Bought as a gift and she loves it.','Inexpensive tablet tablet tablet for him to use and learn on, step up from the NABI.','I have had my Fire HD 8 two weeks now and I love it. This tablet is a great value.','I bought this for my grand daughter daughter daughter when she comes over to visit.','This amazon fire 8 inch tablet is the perfect size.']

## TOKENIZATION

In [ ]:
nltk.download('punkt')
tokens = []
for i in dataset:
  tokenized_data = word_tokenize(i)
  tokens.append(tokenized_data)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
nltk.download('stopwords')
stwords = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

## POSITION TAGGING

In [ ]:
tokens2 = []
for words in tokens:
  temp = []
  for x in words:
    if x not in stwords and len(x)>2:
       temp.append(x)
  tokens2.append(pos_tag(temp))

In [ ]:
tokens2

[[('This', 'DT'),
  ('product', 'NN'),
  ('product', 'NN'),
  ('product', 'NN'),
  ('far', 'RB'),
  ('disappointed', 'JJ')],
 [('ambience', 'NN'),
  ('ambience', 'NN'),
  ('ambience', 'NN'),
  ('excellent', 'NN')],
 [('great', 'JJ'),
  ('beginner', 'NN'),
  ('experienced', 'VBD'),
  ('person', 'NN'),
  ('Bought', 'NNP'),
  ('Bought', 'NNP'),
  ('Bought', 'NNP'),
  ('gift', 'NN'),
  ('loves', 'NNS')],
 [('Inexpensive', 'JJ'),
  ('tablet', 'NN'),
  ('tablet', 'NN'),
  ('tablet', 'NN'),
  ('use', 'NN'),
  ('learn', 'JJ'),
  ('step', 'NN'),
  ('NABI', 'NNP')],
 [('Fire', 'NNP'),
  ('two', 'CD'),
  ('weeks', 'NNS'),
  ('love', 'VBP'),
  ('This', 'DT'),
  ('tablet', 'NN'),
  ('great', 'JJ'),
  ('value', 'NN')],
 [('bought', 'VBN'),
  ('grand', 'JJ'),
  ('daughter', 'NN'),
  ('daughter', 'NN'),
  ('daughter', 'NN'),
  ('comes', 'VBZ'),
  ('visit', 'NN')],
 [('This', 'DT'),
  ('amazon', 'NN'),
  ('fire', 'NN'),
  ('inch', 'NN'),
  ('tablet', 'NN'),
  ('perfect', 'JJ'),
  ('size', 'NN')]]

## NOUN MINING

In [ ]:
noun_list = []
for words in tokens2:
  temp=[]
  for word in words:
      if word[1] == 'NN' or word[1]== 'NNP':
          temp.append(word)
  noun_list.append(temp)

In [ ]:
noun_list

[[('product', 'NN'), ('product', 'NN'), ('product', 'NN')],
 [('ambience', 'NN'),
  ('ambience', 'NN'),
  ('ambience', 'NN'),
  ('excellent', 'NN')],
 [('beginner', 'NN'),
  ('person', 'NN'),
  ('Bought', 'NNP'),
  ('Bought', 'NNP'),
  ('Bought', 'NNP'),
  ('gift', 'NN')],
 [('tablet', 'NN'),
  ('tablet', 'NN'),
  ('tablet', 'NN'),
  ('use', 'NN'),
  ('step', 'NN'),
  ('NABI', 'NNP')],
 [('Fire', 'NNP'), ('tablet', 'NN'), ('value', 'NN')],
 [('daughter', 'NN'), ('daughter', 'NN'), ('daughter', 'NN'), ('visit', 'NN')],
 [('amazon', 'NN'),
  ('fire', 'NN'),
  ('inch', 'NN'),
  ('tablet', 'NN'),
  ('size', 'NN')]]

## NOUN FREQUENCY MINING

In [ ]:
count = {}
k = 1
for i in noun_list:
  temp = {}
  for j in i:
      temp[j[0]] = 0
  count['D'+str(k)] = temp
  k+=1

In [ ]:
l=0
for i, j in count.items():
  for k,v in j.items():
    j[k] = tokens[l].count(k)
  l+=1

In [ ]:
count

{'D1': {'product': 3},
 'D2': {'ambience': 3, 'excellent': 1},
 'D3': {'Bought': 3, 'beginner': 1, 'gift': 1, 'person': 1},
 'D4': {'NABI': 1, 'step': 1, 'tablet': 3, 'use': 1},
 'D5': {'Fire': 1, 'tablet': 1, 'value': 1},
 'D6': {'daughter': 3, 'visit': 1},
 'D7': {'amazon': 1, 'fire': 1, 'inch': 1, 'size': 1, 'tablet': 1}}

## FREQUENT NOUNS WITH THRESHOLD = 3

In [ ]:
list_ = []
for i, j in count.items():
  temp = []
  temp.append(i)
  for k,v in j.items():
    if v >= 3:
      temp.append(k)
      print(k)
  list_.append(temp)

product
ambience
Bought
tablet
daughter

In [ ]:
list_

[['D1', 'product'],
 ['D2', 'ambience'],
 ['D3', 'Bought'],
 ['D4', 'tablet'],
 ['D5'],
 ['D6', 'daughter'],
 ['D7']]

## NEAREST ADJECTIVE FINDING / OPINION

In [ ]:
next_adj = []
l = 0
for i in tokens2:
  for word in i:
    # print(word[0])
    if word[0] in list_[l]:
      x = 0
      temp = []
      temp.append(list_[l][0])
      temp.append(word[0])
      for k in i:
        if k[1] == 'JJ' and x == 0:
          temp.append(k[0])
          x = 1
  next_adj.append(temp)
  l+=1

In [ ]:
next_adj

[['D1', 'product', 'disappointed'],
 ['D2', 'ambience'],
 ['D3', 'Bought', 'great'],
 ['D4', 'tablet', 'Inexpensive'],
 ['D4', 'tablet', 'Inexpensive'],
 ['D6', 'daughter', 'grand'],
 ['D6', 'daughter', 'grand']]

In [ ]:
next_adj_2 = []

for i in next_adj:
  if i not in next_adj_2:
    next_adj_2.append(i)

## FEATURE / OPINION PRINTING

In [ ]:
next_adj_2

[['D1', 'product', 'disappointed'],
 ['D2', 'ambience'],
 ['D3', 'Bought', 'great'],
 ['D4', 'tablet', 'Inexpensive'],
 ['D6', 'daughter', 'grand']]

In [ ]:
print(len(list_))

7

## PRECISION /RECALL

In [ ]:
recall_thresh = 5

precision_recall_dataset = []
precision_recall_temp = []
for i in list_:
  precision_recall_temp.append(i[0])

for i, j in zip(precision_recall_temp, next_adj):
    if i == j[0]:
      precision_recall_dataset.append([i,1])
    else:
      precision_recall_dataset.append([i,0])

In [ ]:
precision_recall_dataset

[['D1', 1], ['D2', 1], ['D3', 1], ['D4', 1], ['D5', 0], ['D6', 1], ['D7', 0]]

In [ ]:
df = pd.DataFrame(precision_recall_dataset)
df.columns = ['name', 'p_n']

In [ ]:
precision = []

count = 0
positive_count= 0
for i in df.p_n:
  if i == 1:
    positive_count+=1
    count+=1
    precision.append(positive_count/count)
  else :
    count+=1
    precision.append(positive_count/count)

df['precision'] = precision

In [ ]:
df

  name  p_n  precision
0   D1    1   1.000000
1   D2    1   1.000000
2   D3    1   1.000000
3   D4    1   1.000000
4   D5    0   0.800000
5   D6    1   0.833333
6   D7    0   0.714286

In [ ]:
recall = []

count = 0
positive_count= 0
for i in df.p_n:
  if i == 1:
    positive_count+=1
    recall.append(positive_count/recall_thresh)
  else :
    recall.append(positive_count/recall_thresh)

df['recall'] = recall

In [ ]:
df

  name  p_n  precision  recall
0   D1    1   1.000000     0.2
1   D2    1   1.000000     0.4
2   D3    1   1.000000     0.6
3   D4    1   1.000000     0.8
4   D5    0   0.800000     0.8
5   D6    1   0.833333     1.0
6   D7    0   0.714286     1.0